$color-primary-100: #C5F3F7;
$color-primary-200: #8FE2EF;
$color-primary-300: #53B8D1;
$color-primary-400: #2883A3;
$color-primary-500: #004F74;
$color-primary-600: #003558;
$color-primary-700: #00284A;
$color-primary-800: #001C3B;
$color-primary-900: #001431;