.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.squirtle {
    right: 20px;
    top: 20px;
    position: absolute;

    img {
        width: 323px;
    }
}

.pokedexLogo {
    width: 387px;
    margin-bottom: 38px;
}

.input {
    max-width: 426px;
}

.pikachu {
    left: 20px;
    bottom: 20px;
    position: absolute;

    img {
        width: 323px;
    }
}

.rightLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
        width: 550px;
    }
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -157px;

    h1 {
        font-size: 56px;
        line-height: 54px;
        margin-bottom: 12px;
        text-transform: uppercase;
    }

    p {
        font-size: 38px;
        line-height: 46px;
    }
}

.infoText {
    font-size: 24px;
    line-height: 32px;
    width: 501px;
    align-self: center;
    margin: 42px 0px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 504px;
    height: 267px;
    padding: 51px 49px;
    border-radius: 25px;
    background-color: rgba($color: #ffcb05, $alpha: 0.6);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.labelInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
    }

    p {
        font-size: 28px;
        line-height: 46px;
        font-weight: bold;
        text-transform: capitalize;
    }
}

.pokeImage {
    right: 20px;
    bottom: 0px;
    position: absolute;

    img {
        width: 323px;
    }
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 94px;

    p {
        font-size: 24px;
        line-height: 32px;
        margin-top: 36px;
    }

    span {
        font-size: 16px;
        line-height: 140%;
        margin-top: -14px;
    }
}

@media (max-width: 1366px) {
    .pokeImage {
        img {
            width: 200px;
        }
    }

    .squirtle {
        img {
            width: 200px;
            top: 10px;
        }
    }

    .pikachu {
        img {
            width: 200px;
            bottom: 10px;
        }
    }

    .rightLogo {
        img {
            width: 400px;
        }
    }

    .headerContainer {
        margin-top: -100px;

        h1 {
            font-size: 38px;
            line-height: 65px;
            margin-bottom: -5px;
        }

        p {
            font-size: 24px;
            line-height: 40px;
        }
    }

    .infoText {
        font-size: 18px;
        line-height: 30px;
        margin: 22px 0px;
    }

    .cardContainer {
        width: 504px;
        height: 200px;
        padding: 30px 49px;
    }

    .labelInfo {
        span {
            font-size: 12px;
            line-height: 20px;
        }

        p {
            font-size: 24px;
            line-height: 40px;
        }
    }
}
